<li><a href="http://www.math.u-psud.fr/pyLBM">Home</a></li>
<li><a href="http://www.math.u-psud.fr/pyLBM/gallery.html">Gallery</a></li>
<li><a href="http://www.math.u-psud.fr/pyLBM/tutorial.html">Tutorial</a></li>
<!--<li><a href="http://api.vispy.org">Documentation</a></li>-->
<li><a href="https://gitlab.com/gouarin/pylbm">Source</a></li>
